@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  text-transform: 'uppercase'
} */

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid #ccc; /* You can adjust the color of the divider */
}

.divider span {
  padding: 0 20px; /* Space between the OR text and the divider lines */
  font-weight: 500;
  color: #64748b; /* Adjust text color */
}

.react-time-picker__wrapper {
  border: thin solid #e5e5e5 !important;
  border-radius: 10px !important;
  padding: 6px;
}

.react-time-picker__inputGroup__input {
  color: "#64748B" !important;
  font-size: 16px !important;
}
.bg-game {
  background-image: url("/assets/game-bg.jpg");
  height: 100vh;
  background-size: cover;
  mix-blend-mode: multiply;
  background-position: center;
}

/* CSS */
.fine-button-primary {
  align-items: center;
  background-color: #233d4d;
  border: 2px solid #fcf8db;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f37f2d;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 45px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fine-button-primary:after {
  background-color: #fcf8db;
  border-radius: inherit;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.fine-button-primary:hover:after {
  transform: translate(0, 0);
}

.fine-button-primary:active {
  background-color: #ffdeda;
  outline: 0;
}
.fine-button-primary.active:after {
  transform: translate(0, 0);
  outline: 0;
}

.fine-button-primary:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .fine-button-primary {
    padding: 0 40px;
  }
}

.button-radius-full {
  align-items: center;
  background-color: #202216;
  border: 2px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
  color: #fede9b;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  width: 48px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0, 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-radius-full:after {
  background-color: #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 48px;
  width: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 1px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-radius-full:hover:after {
  transform: translate(0, 0);
}

.button-radius-full:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-radius-full:hover {
  outline: 0;
}

.fine-button-secondary {
  align-items: center;
  background-color: #202216;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fede9b;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fine-button-secondary:after {
  background-color: #fff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.fine-button-secondary:hover:after {
  transform: translate(0, 0);
}

.fine-button-secondary:active {
  background-color: #ffdeda;
  outline: 0;
}

.fine-button-secondary:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .fine-button-secondary {
    padding: 0 40px;
  }
}
.register-bg {
  background-image: url("/assets/register-bg.png");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

/* CARD */

.card-one,
.card-two {
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1500ms cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-clip-path: polygon(
    0% 0%,
    90% 0,
    100% 30%,
    100% 100%,
    10% 100%,
    0% 70%
  );
  clip-path: polygon(0 0, 90% 0, 100% 30%, 100% 100%, 10% 100%, 0 70%);
}

.card-one:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  transition: all 1500ms cubic-bezier(0.25, 1, 0.3, 1);
}

.card-one:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 900ms cubic-bezier(0.25, 1, 0.3, 1);
  width: 50px;
  z-index: -10;
}

.card-one:hover:after {
  left: 120%;
  transition: all 900ms cubic-bezier(0.25, 1, 0.3, 1);
}

.glass {
  background: rgba(247, 247, 247, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(247, 247, 247, 0.3);
}
.glass-mobile {
  background: rgba(247, 247, 247, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(247, 247, 247, 0.3);
}

/* DASHBOARD */
.time-banner {
  background-image: url("/assets/countdown-sec1-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* HOMEPAGE BUTTON */
.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  /* padding: 1.5em 3em; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 1500ms cubic-bezier(0.25, 1, 0.3, 1);
  border-radius: 0;
  /* box-shadow: inset 0 0 0 var(--border-size) currentcolor; */
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}
.button:hover:after {
  left: 120%;
  transition: all 900ms cubic-bezier(0.25, 1, 0.3, 1);
}

.create-wager-banner {
  background-image: url("/assets/cta3-1.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
}
